<!DOCTYPE html>
<html>
<head>
	<title>Title</title>
	<link rel="stylesheet", href="{ { url_for( 'static', filename='css/main.css' ) } }">
	{% block head %}{% endblock %}

</head>
<body>
{% block body %}{% endblock %}
</body>
</html>